.wrapper{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.navigation{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;  
}
  .site-navigation ul {
    list-style: none;
  }
  .site-navigation li {
    display: inline-flex;
    text-transform: uppercase;
    margin-right: 56px;
    padding-top: 38px;
  }
  .site-navigation li:last-child {
    margin-right: 0px;
  }
  .site-navigation li a {
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #a1e7da;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
  }
  .site-navigation li a::after{
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #f38181;
    transition: transform 200ms linear;
    margin: 0 auto;
   margin-top: 12px;
  }
  .site-navigation li a:hover::after{
      width: 100%;
      color: #f38181;
      transition: transform 200ms linear;
  }
  .site-navigation li a:hover{
    color: #f38181;
  }
  .logo{
    margin: 0;
    padding-top: 28px;
  }
  .logo-link{
    text-decoration-line: none;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: #a1e7da;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    word-spacing: -8px;
  }
  .title{
      display: flex;
      flex-direction: column;
  }
  .servises-tittle{
      padding-top: 114px;
      padding-bottom: 112px;
  }
  .first-title{
    font-size: 24px;
  font-family: "Kaushan Script", serif;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  margin-bottom: 22px;
  }
  .second-title{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
  .second-title::after{
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background: #f38181;
    margin: 0 auto;
    margin-top: 42px;
  }
  .servises-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
  }
  .list-item{
      width: 382px;
      display: flex;
      justify-content: space-between;
  }
.list-item:nth-child(-n+3){
  margin-bottom: 100px;
}
  .list-item::before{
      content: "";
      display: block;
      width: 80px;
      margin-right: 28px;
      background-repeat: no-repeat;
      background-position:top center;
  }
  .item-info{
      width: 300px;
  }
  .icon-alarm::before{
    background-image: url(../img/img1.png);
  }
  .icon-graph::before{
      background-image: url(../img/img2.png);
  }
  .icon-computer::before{
      background-image: url(../img/img3.png);
  }
  .icon-book::before{
      background-image: url(../img/img4.png);
  }
  .icon-house::before{
      background-image: url(../img/img5.png);
  }
  .icon-digital::before{
      background-image: url(../img/img6.png);
  }
.item-title{
 margin-bottom: 18px;
 font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  font-weight: 400;
}
.item-description{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
    font-weight: 400;
}
.team-tittle{
  padding-top: 92px;
  padding-bottom: 46px;
}
.team-tittle-description{
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
  padding-bottom: 84px;
}
.ul {
  list-style: none;
}
.team-list{
  display: flex;
  justify-content: space-between;
}
.team-list-item{
  width: 380px;
}

.team-list-item-img{
 background-color:#95e1d3;
 position: relative;
 margin-bottom: 30px;
}
.item-img{
 position: relative;
 display: block;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  transition: left .2s linear;
}
.team-list-item:hover .item-img{
  left: -12px;
  top: -12px;
}
.hover-block{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: opacity .2s linear;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 90deg, rgba(252,227,138, 0.7) 0%, rgba(243,129,129, 0.7) 100%);
}
.team-list-item:hover .hover-block{
  opacity: 1;
  left: -12px;
  top: -12px;
}
.social-icon{
  display: flex;
}
.team-item-social-icon{
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  padding-top: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s linear;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  background-color: #fce38a;
  box-sizing: border-box;
  border-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(243, 129, 129, 0.5);
}
.team-item-social-icon:last-child{
border-right-width: 0px;
}

.social-icon .team-item-social-icon:hover{
  background-color: #95e1d3;
}
.info-name{
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  padding-top: 30px;
}
.info-prof{
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  padding-top: 16px;
  padding-bottom: 88px;
}
.foot-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px; 
  border-top: 1px solid #e7e7e7
}
.foot-text{
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  font-weight: 400;
}
.foot-link{
  color: #f38181;
  text-decoration: none;
}
.inputs{
  border: 1px solid #e7e7e7;
}
.input-field {
  width: 230px;
  height: 40px;
  border: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(204, 204, 204);
  font-style: italic;
  font-weight: 300;
  line-height: 1.6;
  padding: 0 0 0 14px;
}
.input-button {
  background-color: rgb(149, 225, 211);
  border:  none;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 34px;
}