/*colors*/
$main-bn-color: rgb(255, 255, 255);
$color-hov: #fce38a;
$main-container-color: rgb(51, 51, 51);
$secondary-container-color: rgb(153, 153, 153);
$sub-color: #f38181;
$foot-border: #e7e7e7;

/*fonts*/
$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$script-font: "Kaushan Script", serif;
 
/*fonts-weight*/
$bold-weight: bold;
$regular-weight: 400;
$light-weight: 300;

/*line-height*/
$main-line-height: 1.2;
$secondary-line-height: 1.6;

/*font-size*/
$main-font-size: 14px;
$secondary-font-size: 15px;
$script-font-size: 24px;
$bold-font-size: 30px;

