.site-logo a {
    font-size: $bold-font-size;
    font-family: $main-font;
    color: $main-bn-color;
    font-weight: $bold-weight;
    line-height: $main-line-height;
    text-align: left;
    text-decoration: none;
  }